<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Języki i kraje</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
</head>
<body>

<div style="max-width: 1000px; width: 100%; margin: 50px auto">

    <a href="/">← Powrót do strony główej</a>

    <h1>Języki i kraje</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Język</th>
            <th>W których krajach jest używany</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="language: ${languages}">
            <td th:text="${language.getKey()}"></td>
            <td>
                <ul th:each="language1: ${language.getValue()}">
                    <li th:text="|${language1}|"></li>
                </ul>

            </td>
        </tr>
        </tbody>
    </table>

</div>


</body>
</html>